#content {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1px 0;
    background-color: #000;
    width: 500px;
}

#content div {
    background-color: #fff;
    padding: 5px 2px;
}

#content > #clear-button-container {
    grid-area: 1 / 1 / 1 / -1;
    text-align: end;
}

#content > #token-table {
    display: contents;
}

.url-column {
    overflow-wrap: anywhere;
}

.copy-button {
    width: 65px;
}

.token::-webkit-scrollbar {
    display: none;
}