#content {
    display: grid;
    grid-template-columns: 1fr 180px 65px;
    gap: 1px 0;
    background-color: #000;
    width: 500px;
}

#content div {
    background-color: #fff;
    padding: 5px 2px;
}

#content > #clear-button-container {
    grid-area: 1 / 1 / 1 / -1;
    text-align: end;
}

#content > #search-container {
    display: contents;
}

#content > #no-data-placeholder {
    grid-area: 3 / 1 / 3 / -1;
    text-align: center;
    display: none;
    font-size: 15px;
    font-weight: bold;
}

#search-container input {
    width: 100%;
    box-sizing: border-box;
}

#content > #token-table {
    display: contents;
}

.url-column {
    overflow-wrap: anywhere;
}

.copy-button {
    width: 100%;
}

.token {
    width: 100%;
    box-sizing: border-box;
}

.token::-webkit-scrollbar {
    display: none;
}